.calculator-container {
  display: grid;
  grid-template-areas:
    "screen screen screen screen"
    "numbers numbers numbers operator"
    "numbers numbers numbers operator"
    "numbers numbers numbers operator"
    "numbers numbers numbers operator"
    "numbers numbers numbers operator";

  .screen {
    grid-area: screen;
    color: #fff;
    font-size: 2rem;
    text-align: right;
    padding: 1rem 0.5rem;
    background-color: #858693;
  }

  .numbers {
    grid-area: numbers;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #e0e0e0;

    div:nth-child(13) {
      grid-column: span 2;
    }

    .button {
      text-align: center;
      border: 1px solid #bababa;
      padding: 1rem;
    }
  }

  .operator {
    grid-area: operator;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-color: #f4913e;

    .button {
      text-align: center;
      border: 1px solid #bababa;
      padding: 1rem;
    }
  }
}
